<ion-content>
  <div class="consent-title">
    <center>
      <h4>Démonstrateur Traces de Mobilité Fabrique des Mobilités</h4>
    </center>
  </div>
  <div class="consent-text">
    <h3>Contexte et objectifs</h3>
    Cette application est développée dans le cadre d’un projet soutenu par la Fabrique des Mobilités, décrit ici : <a href="https://oultim.frama.site" target="_blank">https://oultim.frama.site</a>
    <div class="intro-space"></div>
    Le développement réutilise les logiciels développées par l’Université de Berkeley publiés sous licence libre sur <a href="https://github.com/emission" target="_blank">https://github.com/emission</a>
    <div class="intro-space"></div>
    A ce stade du projet, l’application est un simple DEMONSTRATEUR qui a pour objectif d’analyser techniquement les logiciels d’e-mission et la faisabilité de les adapter pour une Preuve de Concept sur un site pilote.
    <br>
    En particulier, l’application (uniquement Android pour l'instant) n’est pas traduite en français et réutilise tels quels les logiciels existants, certaines fonctionnalités ne sont pas opérationnelles dans le contexte du démonstrateur.
    <br>
    Le serveur mis en place par ICIA Technologies dans le cadre de la démo n’offre aucune garantie particulière de niveau de service ; l’application a été diffusée à quelques personnes intéressées par le projet à des fins de test mais n’est pas encore publiée.
    <div class="intro-space"></div>
    En créant un compte sur l’application, l’utilisateur prend connaissance du contexte de ce démonstrateur décrit ici et en accepte les conditions d’utilisation.
    <div class="intro-space"></div>
    Pour plus d’explications, reportez-vous à <a href="https://oultim.frama.site/blog/demonstrateur" target="_blank">https://oultim.frama.site/blog/demonstrateur</a>

    <h3>Données recueillies</h3>
    L’appli recueille position, accélération et l’activité détectée automatiquement par le smartphone (mode de transport), ainsi que l’usage de la batterie.

    <h3>Lien entre données et</h3>
    Pour se connecter il faut fournir une adresse gmail valide, l’adresse est attachée à un UUID and et toutes les données recueillies sont attachées à cet UUID. La raison pour laquelle on utilise une adresse e-mail est de permettre d’utiliser l’appli sur plusieurs téléphones et de vous donner accès également à l’outil de visualisation des données depuis un navigateur (grfmap).

    <h3>Usage des données</h3>
    L’utilisateur peut voir ses données sur l’application et sur le site web <a href="https://fabmob.grfmap.com/" target="_blank">https://fabmob.grfmap.com/</a> en se connectant sur son compte.
    <br>
    Il/elle peut également télécharger ses données.
    <div class="intro-space"></div>
    L’équipe projet a accès à l’ensemble des données des utilisateurs et les utilise à des fins de test technique, aucune analyse particulière des données de mobilité n’est réalisée ; les données ne sont pas transmises à des tiers et seront détruites 90 jours après la publication du démonstrateur.

    <h3>Questions</h3>
    Pour toutes questions merci d’avance de nous contacter : <a href="https://oultim.frama.site/contact" target="_blank">https://oultim.frama.site/contact</a>

    <div class="row" style="margin-top: 20px;">
      <div class="col" style="margin-right: 5px">
        <button class="button button-block button-assertive button-outline" ng-click="disagree()" id="consent-button">Je refuse</button>
      </div>
      <div class="col" style="margin-left: 5px">
        <button class="button button-block button-positive button-outline" ng-click="agree()" id="consent-button">J'accepte</button>
      </div>
    </div>
  </div>
  <div class="consent-space"></div>
</ion-content>
