<ion-content>
  <div class="consent-title">
    <center>
      <h4>Traceur de Mobilité / Fabrique des Mobilités / VERSION TEST PHASE 2</h4>
    </center>
  </div>
  <div class="consent-text">
    <h3>Context and goals</h3>
    The app Traceur de Mobilité FabMob is a mobile application reusing the e-mission software developed at Berkeley University by Shankari K and published as an open source software (<a href="https://github.com/emission" target="_blank">https://github.com/emission</a>).
    <div class="intro-space"></div>
    This project of "la Fabrique des Mobilités" is currently (Summer 2019) in an evaluation phase (internal test, on invitation), the application is not yet public.<br>    <br>
    The current version of the app is A TEST VERSION. The goal is of the test phase is to invite interested actors to evaluate the application, and the relevance of this software for meeting the use cases that interest them.<br>
    For this test phase, no particular level of service shall be expected from the server.
    <div class="intro-space"></div>
    When creating an account in order to use this application, the user acknowledges to have read and understood the project goals and has to accept the terms of use before starting to use it.
    <div class="intro-space"></div>

    <h3>Use of collected data</h3>
    We automatically track your location, accelerometer, device-generated activity recognition, and battery usage. We also allow you to optionally enter your experiences and feedback during travel through the app, including answering to external surveys, via the LimeSurvey service which we host on our server. Since our code is open source, you can inspect the data that we collect in the background. 
    - the users can download their personal data and ask that their account and data be deleted at any time<br>
    - the users can see and inspect their data via the app<br>
    - in a few weeks, the user will also be able to view his/her data via web browser (grfmap application)<br>
    - the project team (administrators) can see all data (data are not encrypted)<br>
    - the data are only used for, they are not transmitted to any third part, nor are they used for any study<br>
    - the data will be deleted when 120 days maximum after the beginning of the evaluation phase
    
    <h3>Questions</h3>
    For any question, please contact us at <a href="https://oultim.frama.site/contact" target="_blank">https://oultim.frama.site/contact</a>

    <div class="row" style="margin-top: 20px;" translate-namespace="consent">
      <div class="col" style="margin-right: 5px">
        <button class="button button-block button-assertive button-outline" ng-click="disagree()" id="consent-button"><span translate>{{'.button-decline'}}</span></button>
      </div>
      <div class="col" style="margin-left: 5px">
        <button class="button button-block button-positive button-outline" ng-click="agree()" id="consent-button"><span translate>{{'.button-accept'}}</span></button>
      </div>
    </div>
  </div>
  <div class="consent-space"></div>
</ion-content>
