<ion-content class="has-footer">
  <div class="intro-title">
    <center>
      <h4>Traceur de Mobilité FabMob : une appli réutilisant le logiciel E-Mission</h4>
    </center>
  </div>
  <div class="intro-text">
    L’application permet d’extraire des informations sur vos déplacements à partir des traces de mobilité.
    <div class="intro-space"></div>
    <ol>
      <li>Ce projet de la Fabrique des Mobilités est en phase d'évaluation (test interne sur invitation), l’appli n’est pas encore diffusée..</li>
    </ol>
  </div>
</ion-content>
<ion-footer-bar class="no-bgColor" id="intro-footer">
  <button class="button button-block button-outline button-positive" ng-click="next()">C’est parti !</button>
</ion-footer-bar>

